# Reader Test

In [1]:
import Read

package has been imported

In [2]:
from Read import api, jsonio

## API Test

In [3]:
url = "https://api.weatherstack.com/current"

In [4]:
key = input("enter your API access key")

enter your API access key 9d4b537334b58879750578930e12f3ca

In [5]:
city = input("enter the location of interest")

enter the location of interest Lyngby

In [6]:
params = {"query":city, "access_key": key}

In [7]:
headers = {}

In [11]:
response = api.readAPI(url, params, headers)

In [9]:
response

{'request': {'type': 'City',
  'query': 'Lyngby, Denmark',
  'language': 'en',
  'unit': 'm'},
 'location': {'name': 'Lyngby',
  'country': 'Denmark',
  'region': 'Hovedstaden',
  'lat': '55.767',
  'lon': '12.517',
  'timezone_id': 'Europe/Copenhagen',
  'localtime': '2025-08-28 11:11',
  'localtime_epoch': 1756379460,
  'utc_offset': '2.0'},
 'current': {'observation_time': '09:11 AM',
  'temperature': 19,
  'weather_code': 116,
  'weather_icons': ['https://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0002_sunny_intervals.png'],
  'weather_descriptions': ['Partly Cloudy '],
  'astro': {'sunrise': '06:07 AM',
   'sunset': '08:14 PM',
   'moonrise': '12:30 PM',
   'moonset': '09:04 PM',
   'moon_phase': 'Waxing Crescent',
   'moon_illumination': 21},
  'air_quality': {'co': '407',
   'no2': '38.295',
   'o3': '50',
   'so2': '2.22',
   'pm2_5': '21.46',
   'pm10': '29.415',
   'us-epa-index': '2',
   'gb-defra-index': '2'},
  'wind_speed': 12,
  'wind_degree': 75,
  'wind_dir': 'ENE',
  'pressure': 1007,
  'precip': 0,
  'humidity': 78,
  'cloudcover': 0,
  'feelslike': 19,
  'uv_index': 1,
  'visibility': 10,
  'is_day': 'yes'}}

## JSON Test

In [15]:
# create json
url = "../Data/weather.json"

In [16]:
jsonio.write_json(url, response)

In [21]:
# read json
url = "../Data/population.json"
# url = "../Data/weather.json"

In [22]:
df = jsonio.read_json(url)
df

            country  population
0       Afghanistan    35530081
1           Albania     2930187
2           Algeria    41318142
3    American Samoa       55641
4           Andorra       76965
..              ...         ...
223  Western Sahara      552628
224           Yemen    28250420
225      Yugoslavia    10640000
226          Zambia    17094130
227        Zimbabwe    16529904

[228 rows x 2 columns]