# Read API

In [1]:
import os
import json
import requests
import pprint
import pandas as pd

In [2]:
# Reads from the url and stores the response in a json file
def readAPI(url, params, headers, myfile):  
    list = []
    response = requests.get(url, params=params, headers=headers).json()
    list.append(response)
    
    # save in json file        
    with open(myfile, 'w') as f:
        json.dump(list,f)
    return

## Test

In [ ]:
# Use CVR API
# Search by CVR (vat), name (name), phone (phone) or production unit (produ) - key
# Cphbusiness cvr(31678021)

The source API requires mandatory parameters '_params_' and '_headers_' in the get() request. <br>
- '_params_' includes the search key and the country
- '_headers_' includes the user's identification

In [3]:
# the name of the company for which data is extracted
# company = "Københavns Erhvervsakademi"
company = input()

 ISS

In [4]:
# user identification (alias)
# user = <your alias here>
user = 'user'

In [5]:
url='http://cvrapi.dk/api'  
params = {'search':company, 'country':'DK'}
headers = {'User-Agent': user}

In [6]:
# The response from the API reader is stored in a file as JSON object
myfile = 'apitest.json'

In [7]:
# response goes in the file
response = readAPI(url, params, headers, myfile)

## Read the File into DataFrame

In [8]:
df = pd.read_json(myfile)

In [9]:
df

,vat,name,address,zipcode,city,cityname,protected,phone,email,fax,...,industrydesc,companycode,companydesc,creditstartdate,creditbankrupt,creditstatus,owners,productionunits,t,version
0,28504799,ISS A/S,Buddingevej 197,2860,Søborg,NaN,False,38170000,NaN,NaN,...,Ikke-finansielle holdingselskaber,60,Aktieselskab,NaN,False,NaN,NaN,"[{'pno': 1011193265, 'main': True, 'name': 'IS...",100,6